<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" cdkDropList [cdkDropListData]="" cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropTool($event)" cdkDropListSortingDisabled>
      <ion-card class="toolcard" #recyclebin>
        <ion-icon class="recycle" [name]="'trash'"></ion-icon>
      </ion-card>
      <ion-card class="toolcard" cdkDrag *ngFor="let tool of getTools();">
        <ion-label position="stacked">{{tool.name}}</ion-label><br>
        <ion-icon [name]="tool.icon"></ion-icon>
      </ion-card>

    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" [scrollX]="true">
  <ion-grid class="cardgrid">
  <ion-row class="cardrow" cdkDropListGroup>

    <!-- Card Title -->
    <ion-col>
    <ion-card class="cardtitle">
      <ion-item>
        <ion-label position="stacked">Title</ion-label>
        <ion-input [value]="scenario.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Creator</ion-label>
        <ion-input [value]="scenario.creator"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Image</ion-label>
        <br>
        <ion-button color="medium" fill="outline">
          <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
        </ion-button>

      </ion-item>
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea [value]="scenario.description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Copyright</ion-label>
        <ion-input [value]="scenario.copyright"></ion-input>
      </ion-item>
      <ion-card-content>
        <ion-grid class="variablegrid">
          <ion-row>
            <ion-col size="5">Variables {{scenario.variables.values?.length}} </ion-col>
            <ion-col><ion-button size="small" expand="block" fill="outline" color="dark" (click)="addVariable()">Add</ion-button> </ion-col>
          </ion-row>
          <ion-row *ngFor="let variable of scenario.variables.values;let i = index">
            <ion-col><ion-input class="varinput" [value]="variable[0]" size="1" placeholder="Name"></ion-input></ion-col>
            <ion-col><ion-input class="varinput" [value]="variable[1]" size="1" placeholder="Value"></ion-input></ion-col>
            <ion-col size="2"><ion-button size="small" expand="block" fill="outline" color="dark" (click)="removeVariable(i)">-</ion-button> </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>
  </ion-col>

    <!-- Cards Game -->
    <ion-col *ngFor="let stage of scenario.stages;let i = index">
    <ion-card class="cardgame">
      <ion-grid>

        <ion-row class="ion-no-padding">
          <ion-col size="9">
            <ion-label position="stacked">Name</ion-label>
            <ion-input [value]="stage.name"></ion-input>
          </ion-col>
          <ion-col size="1">
            <ion-icon class="ion-no-padding" name="caret-back" (click)="stageMove(i,i-1)"></ion-icon>
          </ion-col>
          <ion-col size="1">
            <ion-input class="ion-no-padding" #inputpos [value]="i" inputmode="numeric" min="0" (ionBlur)="stageMove(i,inputpos.value)" (keyup.enter)="stageMove(i,inputpos.value)"></ion-input>
          </ion-col>
          <ion-col size="1">
            <ion-icon class="ion-no-padding"name="caret-forward" (click)="stageMove(i,i+1)"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row>
         <ion-label>&nbsp; Content :</ion-label>
          <ion-col id="{{i}}" class="droplist" size="12" cdkDropList>
            <ion-card class="elementcard"  *ngFor="let element of stage.elements;" cdkDrag (cdkDragDropped)="elementMove($event)">
              <ion-icon [name]="getElementIcon(element)"></ion-icon><br>
              <div [innerHtml]="getElementContent(element)"></div>
              <ion-grid>
                <ion-row *ngFor="let additional of element.additional;let i = index">
                  <ion-label position="stacked">{{getElementAdditionalLabel(element,i)}}</ion-label>
                  <ion-input class="additional" [value]="additional"></ion-input>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-col>
        </ion-row><br>

        <ion-row>
          <ion-label>&nbsp; UnderStages :</ion-label>
          <ion-col id="{{i}}" class="droplist" size="12">
            <ion-card class="elementcard"  *ngFor="let understage of stage.understages;let k = index" >
              <ion-row class="ion-no-padding">
                <ion-col size="11">
                  <ion-input [value]="understage.name">Name : </ion-input>
                </ion-col>
                <ion-col size="1">
                  <ion-input class="ion-no-padding" #inputpos [value]="k" type="number" inputmode="numeric" min="0" (change)="understageMove(i,k,inputpos.value)" (keyup.enter)="understageMove(i,k,inputpos.value)"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-label>&nbsp; Content :</ion-label>
                 <ion-col id="{{k}}" class="droplist" size="12" cdkDropList>
                   <ion-card class="elementcard"  *ngFor="let underelement of understage.elements;" cdkDrag (cdkDragDropped)="underelementMove($event,i)">
                     <ion-icon [name]="getElementIcon(underelement)"></ion-icon><br>
                     <div [innerHtml]="getElementContent(underelement)"></div>
                     <ion-grid>
                       <ion-row *ngFor="let additional of underelement.additional;let i = index">
                         <ion-label position="stacked">{{getElementAdditionalLabel(underelement,i)}}</ion-label>
                         <ion-input class="additional" [value]="additional"></ion-input>
                       </ion-row>
                     </ion-grid>
                   </ion-card>
                 </ion-col>
               </ion-row>
            </ion-card>
            <ion-card class="cardplussmall" (click)="addUnderStage(i)">
              <ion-card-content>
                <ion-icon [name]="'add'"></ion-icon>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row><br>


        <ion-row>
          <ion-col>
            <ion-label position="stacked">Next :</ion-label>
            <ion-input [value]="stage.next"></ion-input>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card>
  </ion-col>


    <!-- Cards Plus -->
    <ion-col>
    <ion-card class="cardplus" (click)="addStage()">
      <ion-card-content>
        <ion-icon [name]="'add'"></ion-icon>
      </ion-card-content>
    </ion-card>
  </ion-col>

  </ion-row>
</ion-grid>
</ion-content>
