<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" cdkDropList [cdkDropListData]="" cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="dropTool($event)" cdkDropListSortingDisabled>
      <ion-card class="toolcard" cdkDrag *ngFor="let tool of getTools();">
        <ion-label position="stacked">{{tool.name}}</ion-label><br>
        <ion-icon [name]="tool.icon"></ion-icon>
      </ion-card>

    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" [scrollX]="true">
  <ion-row cdkDropListGroup>

    <!-- Card Title -->
    <ion-card class="cardtitle">
      <ion-item>
        <ion-label position="stacked">Title</ion-label>
        <ion-input [value]="scenario.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Creator</ion-label>
        <ion-input [value]="scenario.creator"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Image</ion-label>
        <br>
        <ion-button color="medium" fill="outline">
          <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
        </ion-button>

      </ion-item>
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea [value]="scenario.description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Copyright</ion-label>
        <ion-input [value]="scenario.copyright"></ion-input>
      </ion-item>
      <ion-card-content>
        <ion-grid class="variablegrid">
          <ion-row>
            <ion-col size="5">Variables {{scenario.variables.values?.length}} </ion-col>
            <ion-col><ion-button size="small" expand="block" fill="outline" color="dark" (click)="addVariable()">Add</ion-button> </ion-col>
          </ion-row>
          <ion-row *ngFor="let variable of scenario.variables.values;let i = index">
            <ion-col><ion-input class="varinput" [value]="variable[0]" size="1" placeholder="Name"></ion-input></ion-col>
            <ion-col><ion-input class="varinput" [value]="variable[1]" size="1" placeholder="Value"></ion-input></ion-col>
            <ion-col size="2"><ion-button size="small" expand="block" fill="outline" color="dark" (click)="removeVariable(i)">-</ion-button> </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>

    <!-- Cards Game -->
    <ion-card *ngFor="let stage of scenario.stages;let i = index">
      <!--div class="stage-placeholder" [ngStyle]="{'min-height.px':placeholdersize  }" *cdkDragPlaceholder>
      <ion-label class="labelposition">{{placeholderindex}}</ion-label>
    </div-->
      <ion-grid>

        <ion-row class="ion-no-padding">
          <ion-col size="9">
            <ion-label position="stacked">Name</ion-label>
            <ion-input [value]="stage.name"></ion-input>
          </ion-col>
          <ion-col size="1">
            <ion-icon class="ion-no-padding" name="caret-back" (click)="stageMove(i,i-1)"></ion-icon>
          </ion-col>
          <ion-col size="1">
            <ion-input class="ion-no-padding" #inputpos [value]="i" inputmode="numeric" min="0" (ionBlur)="stageMove(i,inputpos.value)" (keyup.enter)="stageMove(i,0)"></ion-input>
          </ion-col>
          <ion-col size="1">
            <ion-icon class="ion-no-padding"name="caret-forward" (click)="stageMove(i,i+1)"></ion-icon>
          </ion-col>
          <!--div class="stage-handle">
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div-->
        </ion-row>

        <ion-row>
         <ion-label>&nbsp; Content :</ion-label>
          <ion-col id="{{i}}" class="droplist" size="12" cdkDropList (cdkDropListDropped)="elementMove($event)">
            <ion-card class="elementcard"  *ngFor="let element of stage.elements;" cdkDrag >
              <ion-icon [name]="getElementIcon(element)"></ion-icon><br>
              <div [innerHtml]="getElementContent(element)"></div>
              <ion-grid>
                <ion-row *ngFor="let additional of element.additional;let i = index">
                  <ion-label position="stacked">{{getElementAdditionalLabel(element,i)}}</ion-label>
                  <ion-input class="additional" [value]="additional"></ion-input>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label position="stacked">Next :</ion-label>
            <ion-input [value]="stage.next"></ion-input>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card>


    <!-- Cards Plus -->
    <ion-card class="cardplus" (click)="addStage()">
      <ion-card-content>
        <ion-icon [name]="'add'"></ion-icon>
      </ion-card-content>
    </ion-card>

  </ion-row>
</ion-content>
