$font-path: "../assets/fonts";
@font-face {
font-family: RobotoFont;
src: url("../../assets/fonts/Roboto-Regular.ttf");
}

ion-menu-button {
  color: var(--ion-color-primary);
}


.toolcard{
  width: 80px;
  height: 80px ;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border: solid 1px #ccc;
  position: relative;
  z-index: 1;
  cursor: move;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 6px 1px -4px rgba(255, 255, 255, 0.2),
              0 4px 4px 0 rgba(255, 255, 255, 0.14),
              0 2px 10px 0 rgba(255, 255, 255, 0.12);
}
.toolcard>ion-label{
  font-size: 1.3rem;
}
.toolcard>ion-icon{
  font-size: 2.4rem;
}
.toolcard:active {
  box-shadow: 0 5px 5px -3px rgba(241, 234, 234, 0.2),
              0 8px 10px 1px rgba(219, 218, 218, 0.14),
              0 3px 14px 2px rgba(216, 211, 211, 0.12);
}
.recycle{
  font-size: 4.8rem!important;
  color:rgba(255, 125, 125, 0.295);
}

.variablegrid{
  align-items: center;
  text-align: center;
}
.varinput{
  padding: 0em;
  margin: 0em;
  text-align: left;
  border: dashed  2px rgb(53, 53, 53);
}

.stage-placeholder {
  border: dotted 3px #999;
  min-width: 200px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.stage-handle {
  top: 10px;
  right: 10px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

.cardplus{
  display: flex;
  align-items: center;
  font-size: 3.8rem;
  border: dashed  2px rgb(53, 53, 53);

}
.cardplus ion-icon{
  font-size: 4rem;
}

.droplist {
  border: solid 1px #aaaa;
  min-height: 60px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.elementcard{
  cursor: move;
  padding: 0.2em;
  border-radius: 8px;
  background-color: rgb(240, 240, 240);

}

.elementcard>ion-icon{
  font-size: 1.2rem;
}
.elementcard>div{
  color: rgb(40, 40, 40) ;
  font-variant: small-caps;
  padding: 0em;
  margin: 0em;
}

.additional{
  color: rgb(40, 40, 40) ;
  font-variant: small-caps;
  padding: 0em;
  margin: 0em;
}



.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.droplist.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
