<ion-header>
  <ion-toolbar>
    <ion-title>Open a scenario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid>
<ion-row>

  <ion-col size="2">
    <ion-card class="cardplus" (click)="newScenario()">
        <ion-card-content>
          <ion-title size="large">New Scenario</ion-title>
          <ion-icon [name]="'add'"></ion-icon>
        </ion-card-content>
    </ion-card>
  </ion-col>

  <ion-col size="2">
    <ion-card class="cardplus" (click)="newSharedScenario()">
        <ion-card-content>
          <ion-title size="large">Shared</ion-title>
          <ion-icon [name]="'share-social'"></ion-icon>
        </ion-card-content>
    </ion-card>
  </ion-col>

  <ion-col size="3">
    <ion-card class="scenariocard" color="secondary" (click)="loadLocalScenario()">
      <ion-title size="small" color="tertiary">Stored locally</ion-title>
      <ion-title size="large">{{localDescriptor?.name}}</ion-title>
      <ion-card-content>
        <ion-text color="primary">{{localDescriptor?.creator}}</ion-text>
        <ion-img [src]="localDescriptor?.icon"></ion-img>

        <ion-text>{{localDescriptor?.description}}</ion-text>

      </ion-card-content>
    </ion-card>
  </ion-col>

  <ion-col size="3" *ngFor="let sd of ownedDescriptors">
    <ion-card class="scenariocard" (click)="loadOwnScenario(sd)" (contextmenu)="contextOwn($event,sd)">
      <ion-toolbar>
        <ion-buttons slot="primary">
          <ion-button (click)="contextOwn($event,sd)">
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-title size="large">{{sd.name}}</ion-title>
      </ion-toolbar>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-card-content>
        <ion-text color="primary">{{sd.creator}}</ion-text>
        <ion-img  [src]="sd.icon"></ion-img>
        <ion-text>{{sd.description}}</ion-text>
      </ion-card-content>

    </ion-card>
  </ion-col>

  <ion-col size="3" *ngFor="let sd of sharedDescriptors">
    <ion-card class="scenariosharedcard" color="tertiary" (click)="loadSharedScenario(sd)" (contextmenu)="contextShared($event,sd)">
      <ion-toolbar>
        <ion-buttons slot="primary">
          <ion-button (click)="contextShared($event,sd)">
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-title size="large">{{sd.name}}</ion-title>
      </ion-toolbar>

      <ion-card-content>
        <ion-text color="danger">Owner : {{sd.owner}}</ion-text>
        <ion-text color="primary">{{sd.creator}}</ion-text>
        <ion-img  [src]="sd.icon"></ion-img>
        <ion-text>{{sd.description}}</ion-text>
      </ion-card-content>
    </ion-card>
  </ion-col>

</ion-row>

  </ion-grid>
</ion-content>
